
<p style="font-style:italic;text-decoration: underline">Your latest tasks:</p>
<table>
  <thead>
  <tr>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @tasks.each do |task| %>
    <tr>
      <td><p><b><%= task.name %></b> | Posted date: <%= task.created_at.strftime("%c") %><br/><%= task.description %></p></td>
    </tr>
  <% end %>
  </tbody>
</table>